* {
  font-weight: bold;
}

.mainDiv {
  margin: 3rem 20rem;
  color: white;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.mainDiv p {
  width: 65%;
}

.coinDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 20rem;
  height: 100%;
}

.imageContainer {
  position: relative;
  display: inline-block;
  margin-top: 8px;
}

.imageContainer img {
  width: 8rem;
  /*border-radius: 50%;*/
}

.description {
  position: absolute;
  white-space: normal !important;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  top: calc(100% - 350px);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  font-size: 15px;
  visibility: hidden;
  background-color: #6365db;
  color: #fff;
  border-radius: 20px;
  padding: 10px;
  width: 10rem;
  white-space: nowrap;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
}

.imageContainer:hover + .description {
  opacity: 1;
  visibility: visible;
}

.fewDetails {
  /*border: 2px solid orange;*/
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.fewDetails h2,
.fewDetails h3,
.fewDetails h4 {
  margin: 8px 0;
  height: 2rem;
  border-radius: 4px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid #6365db;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.coinDetails .leftLowerDiv {
  position: relative;
  border: 1px solid #00acee;
  width: 100%;
  margin-top: 20px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  height: 4rem;
}

.coinDetails .leftLowerDiv h4 {
  position: absolute;
  top: -12px;
  border-radius: 4px;
  background-color: #00acee;
  padding: 2px 7px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.coinDetails .leftLowerDiv p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.coinDetails .leftLowerDiv p img {
  width: 23px;
  margin-left: 5px;
}

/*right div details*/

.mainDiv .moreDetails {
  /*border: 2px dotted #6365db;*/
  padding: 15px 30px;
  margin-left: 20px;
  height: 100%;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0px 0px 6px #6365db;
  height: 25rem;
}

.innerTopDiv,
.innerThirdDiv {
  height: 20%;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-top: 10px;
  /*border: 1px solid red;*/
}

.innerThirdDiv {
  margin-top: 15px;
}

.innerTopDiv .centeredText,
.innerThirdDiv .centeredText {
  position: relative;
  font-size: 12px;
  border: 1px solid #6365db;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}
.innerTopDiv .centeredText h4,
.innerThirdDiv .centeredText h4 {
  position: absolute;
  top: -10px;
  border-radius: 4px;
  background-color: #6365db;
  padding: 2px 7px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.innerTopDiv .centeredText p img,
.innerThirdDiv .centeredText p img {
  width: 18px;
  margin-left: 4px;
}
.innerTopDiv .centeredText p,
.innerThirdDiv .centeredText p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

/*middle div*/

.moreDetails .highLow,
.moreDetails .priceChange {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #6365db;
  margin-top: 15px;
  border-radius: 5px;
  height: 4rem;
}

.moreDetails .highLow h4 {
  padding: 0 14px !important;
  top: -10px !important;
}

.moreDetails .highLow h4,
.moreDetails .priceChange h4 {
  position: absolute;
  font-size: 14px;
  top: -13px;
  transform: translateX(-50%, 50%);
  cursor: pointer;
  border-radius: 4px;
  background-color: #6365db;
  padding: 5px 15px;
}

.moreDetails .highLow p,
.moreDetails .priceChange p {
  padding-top: 9px;
}

.green {
  color: rgb(20, 211, 20);
}

.red {
  color: red;
}

.grey {
  color: rgb(168, 168, 168);
}

.infinite {
  font-size: 25px;
}

@media (max-width: 850px) {
  .mainDiv {
    margin-top: 10px;
  }
  .description {
    top: calc(100% - 400px);
    font-size: 11px;
  }
}

@media (max-width: 520px), (max-width: 390px) {
  .description {
    top: calc(100% - 500px);
    font-size: 11px;
  }
}

@media (max-width: 1200px) {
  .mainDiv {
    flex-direction: column;
    margin: 1rem 2rem;
  }
  .coinDetails {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .coinDetails img {
    width: 5rem;
  }

  .fewDetails {
    align-items: center;
  }

  .fewDetails h2,
  .fewDetails h3,
  .fewDetails h4 {
    height: 1rem;
    width: 60%;
    font-size: 0.7rem;
    padding: 10px;
  }

  .coinDetails .leftLowerDiv {
    width: 65%;
    height: 3rem;
    padding-top: 3px;
  }

  .coinDetails .leftLowerDiv h4 {
    font-size: 12px;
  }

  .coinDetails .leftLowerDiv p {
    width: 80%;
  }

  .coinDetails .leftLowerDiv p img {
    width: 1rem;
  }

  /*right div*/

  .mainDiv .moreDetails {
    margin: 2rem 0 0 0;
    width: 100%;
    height: 27.5rem;
  }
  .moreDetails .innerTopDiv {
    flex-wrap: wrap;
    height: 7rem;
  }
  .innerTopDiv .centeredText,
  .innerThirdDiv .centeredText {
    width: 45%;
    margin: 10px 0 10px 0;
  }

  .innerTopDiv .centeredText p,
  .innerThirdDiv .centeredText p {
    width: 80%;
    justify-content: space-evenly;
    font-size: 7px;
    padding-top: 6.5px;
  }

  .moreDetails .centeredText p img {
    width: 12px;
  }

  .innerTopDiv .centeredText h4,
  .innerThirdDiv .centeredText h4 {
    font-size: 6px;
    padding: 4px 10px;
    top: -11px;
  }

  /*second div*/
  .moreDetails .highLow h4,
  .moreDetails .priceChange h4 {
    font-size: 10px !important;
    padding: 2px 6px !important;
    top: -12px !important;
  }

  .moreDetails .priceChange p {
    font-size: 11px;
    padding-top: 12px;
  }

  .moreDetails .highLow,
  .moreDetails .priceChange {
    height: 3rem;
  }

  /*third div*/

  .innerThirdDiv {
    flex-wrap: wrap;
    height: 7rem;
  }

  .priceChanger {
    font-size: 14px;
  }
}
