.coin-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 4px rgba(12, 12, 12, 0.2);
  margin: 15px;
  border-radius: 30px;
  width: 230px;
  height: 310px;
  cursor: pointer;
  text-decoration: none;
}

.coin-container:hover {
  box-shadow: 0px 0px 25px rgb(31, 116, 119);
}

.coin-container img {
  width: 50%;
}
h4,
p {
  margin: 0;
}

.coin-data {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(13, 134, 104);
  font-weight: bold;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 10rem;
  width: 90%;
}

.inner-data {
  border: 1px solid rgb(32, 161, 165);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  height: 72%;
}

.inner-data .rank {
  background-color: rgb(32, 161, 165);
  color: white;
  border-radius: 0.4rem;
  padding: 2px 4px;
}
