.timeChanger {
  outline: none;
  border: none;
  background-color: rgb(32, 161, 165);
  color: white;
  padding: 8px 17px;
  border-radius: 10px;
  cursor: pointer;
}
.timeChanger:hover,
.timeChanger:active {
  background-color: rgb(34, 134, 138);
}

@media (max-width: 900px) {
  .timeChanger {
    margin-bottom: 1rem;
  }
}
