.CoinPages {
  width: 100%;
  height: 4rem;
  background-color: rgb(32, 161, 165);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .CoinPages {
    padding: 1.5px 12px 1.5px 12px;
    flex-wrap: wrap;
  }
}
