.color {
  color: white;
  font-size: 30px;
}

.tooltip {
  border-radius: 0.5rem;
  color: white;
  background: rgb(94, 94, 179);
  padding: 0.6rem;
  text-align: center;
  box-shadow: 8px 8px 20px 10px rgba(11, 24, 45, 0.6);
}

.tooltip h4 {
  margin: 7px;
}

.mainChartDiv {
  /*border: 2px solid red;*/
  margin: 5px;
}

.coinTitle {
  color: white;
  letter-spacing: 2px;
  margin-top: 40px;
  /*font-family: Titillium;*/
}

/*searching days*/

.chartTime {
  /*border: 2px solid red;*/
  width: 40rem;
  margin: 1.5rem 0 0 8rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
}

.chartTime .chartButton {
  width: 7.5rem;
  height: 1.7rem;
  margin-left: 9px;
  background: none;
  color: white;
  font-size: 11px;
  outline: none;
  border: 1.5px solid rgb(94, 94, 179);
  border-radius: 4px;
  cursor: pointer;
}

.chartButton:hover {
  background: rgb(94, 94, 179);
}

.chartButton.active {
  background: rgb(94, 94, 179);
}

.inputDays {
  display: flex;
  height: 1.7rem;
}
.inputDays input {
  background: none;
  border: 1.5px solid rgb(94, 94, 179);
  border-radius: 4px;
  outline: none;
  color: white;
}
.inputDays input::placeholder {
  font-size: 10px;
  color: rgb(245, 242, 242);
  opacity: 0.5;
}
.inputDays button {
  margin-left: 5px;
  border: 1.5px solid rgb(94, 94, 179);
  border-radius: 4px;
  background: none;
  color: white;
  font-size: 9px;
}
.inputDays button:hover {
  background: rgb(94, 94, 179);
  cursor: pointer;
}

@media (max-width: 850px) {
  .chartTime {
    /*border: 2px solid red;*/
    height: 10rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }

  .chartTime .timeButtons {
    flex-direction: column;
    width: 10rem;
    /*border: 2px solid green;*/
  }

  .chartTime .timeButtons .chartButton {
    margin-top: 7px;
  }
  .chartTime .inputDays {
    /*border: 2px solid yellow;*/
    margin-top: 5px;
  }
}
