.mainBanner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 65%;
  height: 15rem;
  border: 2px solid white;
  border-radius: 7px;
}

.mainBanner h6,
.mainBanner h5 {
  color: white;
  font-weight: 100;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
}

.mainBanner .carousel {
  display: flex;
  width: 90%;
  /*height: 9rem;*/
  overflow: hidden;
}

.mainBanner ul {
  display: flex;
  width: 30%;
}

.mainBanner li {
  margin-right: 5rem;
  list-style: none;
  /*width: 7rem !important;*/
  margin: 0 2rem 0 2rem;
  /*margin-right: 2rem;*/
}

.mainBanner h4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainBanner h4 img {
  width: 23px;
  margin-right: 10px;
}

/*.mainBanner a {
  width: 5rem;
}*/

.linkk {
  display: flex;
  width: 7rem !important;
}

.carouselItem img {
  border-radius: 60%;
}

.carouselItem {
  display: flex;
  flex-direction: column;
  width: 8rem;
  height: 7.4rem;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border: none;
  box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.4);
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
}
.carouselItem p {
  font-size: 12px;
  display: inline-block;
}

.carouselItem .trendingsText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
  text-decoration: none;
}

* {
  text-decoration: none;
}
