.mainBanner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 65%;
  height: 14rem;
  border: 2px solid white;
  border-radius: 7px;
}

.mainBanner h6,
.mainBanner h5 {
  color: white;
  font-weight: 100;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
}

.mainBanner .carousel {
  display: flex;
  width: 90%;
  height: 8rem;
  overflow: hidden;
}

.mainBanner ul {
  display: flex;
  width: 80%;
  margin: 0;
}
.mainBanner li {
  list-style: none;
  width: 7rem !important;
  /*margin: 0 2rem 0 2rem;*/
  margin-left: 4rem;
}

/*.mainBanner a {
  width: 5rem;
}*/

.linkk {
  display: flex;
}

.carouselItem {
  display: flex;
  flex-direction: column;
  width: 8rem;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

.carouselItem p {
  font-size: 12px;
  /*display: inline-block;*/
}

.carouselItem .trendingsText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
