.mainBanner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 65%;
  height: 14rem;
  border: 2px solid white;
  border-radius: 7px;
}

.mainBanner p {
  color: white;
  font-weight: 100;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.mainBanner .carousel {
  display: flex;
  width: 90%;
  height: 8rem;
  overflow: hidden;
}

.mainBanner .carousel ul {
  display: flex;
  /*width: 4rem;*/
}
.mainBanner .carousel ul li {
  list-style: none;
  width: 1rem;
}

.mainBanner .carousel ul li a {
  width: 2rem;
  padding-left: 10px;
}

.linkk {
  display: flex;
}

.carouselItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
