.btn {
  padding: 8px 17px;
  background-color: rgb(32, 161, 165);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 2rem;
  border-radius: 10px;
}

.btn:hover,
.btn:active {
  background-color: rgb(34, 134, 138);
}
